<style>
    .buttons {
        bottom: 0;
        right: 0;
        left: unset;
        top: unset;
        padding: 0.5em;
    }
</style>

<div class="container buttons">

    <button id="generateResources" class="button">Generate Resources</button>

</div>