<style>

    .items {

        width: 15vw;
        min-width: 250px;
        
    }
    .items-list > div {
        display: inline-block;
        padding: 5px;
        position: relative;
        cursor: pointer;
    }

    .items-list > div:hover .item-tooltip {
        display: block;
    }


</style>

<div class="container items">

    <div class="items-subsection" data-item-type="unit">
        <div class="items-header">
            <span>Units</span>
        </div>

        <div class="items-list">
        </div>
    </div>

    <div class="items-subsection" data-item-type="building">
        <div class="items-header">
            <span>Buildings</span>
        </div>

        <div class="items-list">
        </div>
    </div>

    <div class="items-subsection" data-item-type="city">
        <div class="items-header">
            <span>Cities</span>
        </div>

        <div class="items-list">
        </div>
    </div>


</div>